/* .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal; */
  
  body {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ced3d3;

  }
  .body-section{
    width: 1280px;
    margin: auto;
    margin-top: 20px;
    /* background-color: aqua; */


  }
  nav{
    display: flex;
    align-items: center;
    
    /* justify-content: center; */
    justify-content:  space-between;
    flex-direction: row;
      
     
  }
  nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
  list-style: none;
  margin-right:32px;
    
  

}
.li-design-01{
  color: #FEA301;
}
.li-design-02{
  color: #5d94ad;

}
.li-design-03{
  color: rgb(74, 145, 145);

}
.li-design-04{
  color: rgb(32, 147, 167);

}
 .button-design{
  background-color: #FD6E0A;
    font-weight:bold ;
    color: aliceblue;
    padding: 18px 32px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
     gap: 4220px;
    

 }
    


  
  .div-logo{
    display: flex;
    
     
  }
  .banner-design{
    display: flex;
    justify-content:  center;
     gap: 90px; 
  }
  .div-design-01{
    text-align: left; 
     
    height: 331px;  
    margin-top: 100px;

  }
  .stude-des{
    font-size:56px ;
     
  }
  .span-design{
    color: #FEA301;
  }
  .towards-design{
    color:  #01ACFD;

  }
  .button-02-design{
    background-color: #111111;
    font-weight:bold ;
    color: aliceblue;
    padding: 18px 32px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
     gap: 4220px;
      


  }
  .text-design{
    color: rgb(47, 47, 47);
  }
  .st-de{
    text-align: center;
    margin-top: 60px;
  }
  .div-02-design {
    background-image: url('../B11-A2-Kids-School/assets/bg.png'); 
    /* background: linear-gradient(0deg, rgb(241, 240, 240) 2.884%, rgba(209, 214, 214, 0) 101.034%);
       */

      width: 1280px;
    margin: auto;
    margin-top: 20px;    
     
  }
   
  .div-03-design{
    display: flex;
    width: 1280px;
    margin: auto;
    margin-top: 80px;
    gap: 100px;
  }
  .div-04-design{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(141, 166, 158),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
  }
  .div-05-design{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(214, 174, 195),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
     
    
  }
  .div-06-design{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(208, 191, 230),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
  }
  .div-07-design{
    text-align: center;
     margin-top: 50px;
     
  }
  .img-09{
    width: 80px;
  }
  .div-09-design{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 20px; 
    /* padding: 10px;
    border-radius: 10px; */ 
   
    

    
    
  }
  .div-10-design{
    grid-row: span 2;
    background-color: #fbfaf8;
    border-radius: 20px;
     
   
  }
  .div-11-design{
    background-color: #fbfaf8;
    border-radius: 20px;
    width: 291px;

  }

  .dsef {
    text-align:left;
    padding: 10px;
     
  }
  .Date-design{
    text-align: center;
  }
  /* auto-fit, minmax(250px, 1fr) */
  .Date{
    display: flex;
    display: block;
    background: #FD6E0A;
    color: wheat;
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    width: 150px;
  }
  .img-03-design{
     border-radius: 10px 10px 0px 0px;
  }
  .div-09-design{
    grid-row: span 4; 

  }
  .t-y{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .button-03-design{
    background-color: #111111;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    width: 200px;

  }
  .footer-img{
    display: flex;
  }
  .footer-div-00{
     background-color: #01ACFD;
     height: 400px;
  }
  .footer-div-01{  
    display: flex;
    justify-content:  space-between;
    width: 1280px;
    margin: auto;
    margin-top: 20px;
    
     
     
  }
  .text-colo{
    color: wheat;
  }
  .footer-div{
    width: 300px;
    margin-top: 70px; 
  }
   
  /* responsive media query */
  @media screen and (max-width: 576px){
    nav {
      font-display:  column;
    }

  }
   
   