/* .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal; */
  
  body {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ced3d3;

  }
  .body-section{
    width: 1280px;
    margin: auto;
    margin-top: 20px;
    /* background-color: aqua; */


  }
  nav{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    
    justify-content: center;
      
     
  }
  nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
  list-style: none;
  margin-right:32px;
    
  

}
 .button-design{
  background-color: #FD6E0A;
    font-weight:bold ;
    color: aliceblue;
    padding: 18px 32px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
     gap: 4220px;
    

 }
    


  
  .div-logo{
    display: flex;
    
     
  }
  .banner-design{
    display: flex;
    justify-content:  center;
     gap: 90px; 
  }
  .div-design-01{
    text-align: left; 
     
    height: 331px;  
    margin-top: 100px;

  }
  .stude-des{
    font-size:56px ;
     
  }
  .span-design{
    color: #FEA301;
  }
  .towards-design{
    color:  #01ACFD;

  }
  .button-02-design{
    background-color: #111111;
    font-weight:bold ;
    color: aliceblue;
    padding: 18px 32px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
     gap: 4220px;


  }
  .text-design{
    color: rgb(47, 47, 47);
  }
  .st-de{
    text-align: center;
    margin-top: 60px;
  }
  .div-02-design {
    background-image: url('../B11-A2-Kids-School/assets/bg.png'); 
    /* background: linear-gradient(0deg, rgb(241, 240, 240) 2.884%, rgba(209, 214, 214, 0) 101.034%);
      */

     
     
  }
  .div-03-design{
    display: flex;
    width: 1280px;
    margin: auto;
    margin-top: 80px;
    gap: 100px;
  }
  .div-04-design{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(141, 166, 158),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
  }
  .div-05-design{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(214, 174, 195),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
     
    
  }
  .div-06-design{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    background: linear-gradient(180.00deg, rgb(208, 191, 230),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    
  }
  .div-07-design{
    text-align: center;
     margin-top: 80px;
     
  }
  .img-09{
    width: 60px;
  }
  .div-09-design{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-rows: repeat(1, 100px) 10px 10px;
    
  }
  .div-09-design{
    grid-row: span 4; 

  }
   
  